html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-page h1 {
  font-size: 70px;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.start img{
  width: 100%;
  height: 25rem;
  overflow: hidden;
  object-fit: cover;
}

.carousel{
  text-align: center;
  margin-bottom: 50px;
}

.carousel-image {
  width: 100%;
  max-width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
  transition: opacity 0.5s ease-in-out;
}
.end .row{
  
  justify-content: center;
  margin-bottom: 60px;
 

}

.end img {
  
  width: 100%;
  height: 400px;
  object-fit: cover;
}
